/*---------------------
Application CSS
---------------------*/

.main_container {
  background-color: red;
}

.main_inner_container {
  background-color: green;
}

/*--- header_section ---*/
.header_container {
  background-color: blue;
}

.header_inner_section {
  background-color: orange;
  width: 960px;
  margin: auto;
}

/*--- content_section ---*/
.content_container {
  background-color: blue;
}

.content_inner_section {
  background-color: orange;
  width: 960px;
  margin: auto;
}







